:root {
    --color-c1: #171717;
    --color-c2: #272727;
    --color-c3: #EDEDED;
    --color-c3--hover: #c9c9c9;
    --color-c4: #AF012D;
    --color-c5: #413F3F;
    --color-c6: #111111;
    --font-type: 'Open Sans', sans-serif;
    --font-type-titles: 'Lato', sans-serif;
    --font-color: #FFFFFF;
    --font-size-title: 2rem;
    --font-size-text: 1.2rem;
}

.main {
    width: 80%;
    
    margin: 2em auto;
}

.section__title {
    color: var(--font-color);
    font-size: var(--font-size-title);
    font-family: var(--font-type-titles);
}

.product__summary {
    /* border: 2px red solid; */
    width: 100%;
}

.product {
    width: 100%;
    /* padding: 1em; */
    padding: 0 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--color-c2);
    justify-content: center;
    align-items: center;
    /* margin: 1em 0; */
    border-bottom: 1px rgba(128, 128, 128, 0.286) solid;
}

.product__sku,
.product__name,
.product__price,
.product__quantity {
    /* border: 2px red solid; */
    width: 100%;
    font-family: var(--font-type);
    color: var(--font-color);
    font-size: var(--font-size-text);
    text-align: center;
}

.product__sku {
    font-weight: 800;
}

.p--title {
    font-weight: 800;
    color: var(--color-c4);
    font-style: italic;
    text-align: center;
}

.bills-summary {
    grid-template-columns: repeat(3, 1fr);
}

/* <main class="main">
<section class="product__summary">
    <div class="product">
        <p class="product__sku">asd</p>
        <p class="product__name">asd</p>
        <p class="product__price">$asd</p>
        <p class="product__quantity">asd</p>
    </div>
</section>
</main> */